@tailwind base;
@tailwind components;
@tailwind utilities;


/* hide scrollbar */
/* ================================ */
* {
  /* for explorer, edge */
  -ms-overflow-style: none; 
  /* for firefox */
  scrollbar-width: none;
}
::-webkit-scrollbar {
  /* for chrome, safari, and opera */
  display: none;
}
/* ================================ */

.correct {
  background-color: rgb(23, 87, 170);
}
.incorrect {
  background-color: rgb(204, 49, 41);
}